{% extends 'general.html.twig' %}

{% block dynamic_content %}
    <div class="panel panel-info">  
        <div class="panel-heading">
                  <h3 class="panel-title">About</h3>
        </div>
        <div class="panel-body">
             general introduction, vision, 
        </div>
    </div>
    <div class="panel panel-info"> 
        <div class="panel-heading">
            <h4>BRT</h4>
        </div>
        <div class="panel-body">
            end saying something about nc-backup-py
        </div>
    </div>
    <div class="panel panel-info"> 
        <div class="panel-heading">
            <h4>nc-backup-py</h4>
        </div>
        <div class="panel-body">            
            What is it and some links to repositories
            finish mentioning anythin about the development process.
        </div>
    </div>
    <div class="panel panel-info"> 
        <div class="panel-heading">
            <h4>The team </h4>
        </div>
        <div class="panel-body"> 
            
    - Links to who they are and function in the development of BRT.
    (names abel, Raghul and contact information)
    - Some basics about the company and links to website
         </div>
    </div>  
    <div class="panel panel-info"> 
        <div class="panel-heading">
            <h4>Road map link</h4> 
        </div>
        <div class="panel-body"> 
        </div>
    </div>
{% endblock %}