{% extends 'general.html.twig' %}

{% block dynamic_content %}
    <h3>About</h3>
    general introduction, vision, 
    <h4>BRT</h4>
    
    end saying something about nc-backup-py
    
    <h4>nc-backup-py</h4>
    What is it and some links to repositories
    
    finish mentioning anythin about the development process.
    <h4>The team </h4>
    - Links to who they are and function in the development of BRT.
    (names abel, Raghul and contact information)
    - Some basics about the company and links to website
    
    <h4>Road map link</h4> 
{% endblock %}